
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
main{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

.background-container {
    background-image: url('/public/images/img1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    padding: 20px;
    position: relative;
}

.join-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: blue; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-button:hover {
    background-color: darkblue; 
}

.text{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-heading{
    max-width: 500px;
    height: 144px;
    line-height: 3rem;
}
.text-container{
  
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 70px;

}
.text-p{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.text-p h1{
    font-size: 24px;
}
.text-p p{
    line-height: 2rem;
}

.btn-learn-more{
    width: 130px;
    height: 40px;
    background-color:#18a0fb ;
    font-weight: 500;
    size: 15px;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}