@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
  size: 10px;
  color: #000000;
}

.navbar-brand img.logo {
  height: 20px;
  margin-right: 0.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #202020;
}

.navbar-links li a {
  color: #202020;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #ccc;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.btn-login,
.btn-register {
  padding: 0.5rem 1rem;
  color: white;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-register {
  background-color: #18a0fb;
}

.btn-login {
  background-color: #ffffff;
  border: 1px solid #18a0fb;
  color: #18a0fb;
}
